.pageContainer {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
.actions {
  margin: 3em;
}
.actions a {
  background: var(--green-buttons-background-color);
  padding: 10px 40px;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
}
